{% load static %}
{% include 'nav.html' %}
<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  
</head>

<body>
<div class="container-fluid" style="text-align: center;color:#f58220;">
    <h1 style="margin-top:1%;"><img src="https://assets.prestashop2.com/sites/default/files/styles/blog_750x320/public/blog/2019/10/banner_error_404.jpg?itok=eAS4swln" class="img-fluid" alt="Page not Found"></h1>
</div>
</body>
</html>
