<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto&family=Rock+Salt&display=swap" rel="stylesheet">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
    <div class="card post-card" style="width: 100%;">
      <div class="card-header upload-head text-center">
        <i class="fa fa-upload" aria-hidden="true"></i>
        Upload Post
      </div>
    
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <h4 class="text-center">Choose a Video or Photo</h4>
      {{form.as_p}}
      <button class="btn btn-comment btn-md btn-block" type="submit"><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
    </form>
    </div>
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
    </div>
  </body>
</html>
